.csserr{
   position: relative;width:450px;height:16px;left:310px;padding-left: 20px;font-family:Roboto;font-size:12px;color:#be0d21;font-weight: bold;display: none;background-image:url(../img/Icon_err.gif);background-repeat:repeat-y;letter-spacing: -0.2px;
}
.csserr4{
  position: relative;width:100%;height:25px;font-family: Roboto;font-size: 90%;color:#be0d21;letter-spacing: -0.2px;
}

.csserr4flx{
  position: relative;width:450px;height:26px;line-height:26px;left:2px;text-indent:10px;font-family: Roboto;font-size: 14px;color:#be0d21;letter-spacing: -0.2px;
}

.csserr4winbox{
  position: relative;width:450px;height:16px;left:205px;padding-left: 20px;font-family: Roboto;font-size: 12px;color:#be0d21;font-weight: bold;background-image:url(../img/Icon_err.gif);background-repeat:repeat-y;letter-spacing: -0.2px;
}

.csserr5{
  position: relative;width:450px;height:16px;left:310px;padding-left: 20px;font-family: Roboto;font-size: 12px;color:#be0d21;font-weight: bold;background-image:url(../img/info.png);background-repeat:repeat-y;letter-spacing: -0.2px;
}

.csserr2flx{
    position:relative;
    width:100%;
    height:35px;
    margin-left: auto;
    margin-right:auto;
   
    display: none;
    letter-spacing: -0.2px;
    z-index: 3000;
    letter-spacing: -0.2px;
}

.csserr2winbox{
 	position:relative;
	height:35px;
	margin-left: auto;
 	margin-right:auto;
    border-width:1px;
    border-style:solid;
    border-color:#828282;
    background-color: #f3f3f3;
    border-bottom-style:none;
    border-top-style:none;
    border-left-color:#828282;
    border-right-color:#828282;
    display: none;
 	background-color:#ffffff;
 	width:600px;
	letter-spacing: -0.2px;
        letter-spacing: -0.2px;
} 

.csserr2{
    position: relative;width: 100%;height: auto;overflow:hidden;padding-left:20px; display:none;  z-index: 3000;  letter-spacing: -0.2px;
}

.csserrINFO{
    position:relative;
    color:#31558d;
    font-family: Roboto;
    font-size: 15px;
    width:1000px;
    height:35px;
    margin-left: auto;
    margin-right:auto;
    border-width:1px;
    border-style:solid;
    border-color:#828282;
     background-color:#c0d2d2;
    border-bottom-style:none;
    border-top-style:none;
    border-left-color:#828282;
    border-right-color:#828282;
    display: none;
    z-index: 3000;
}

.form_win_feedback p{
    width: 470px;clear: left; margin: 0; padding: 5px 0 8px 0; padding-left: 5px; height: 1%;
    
}

.form_win_feedback label{
    color:#666666;font-weight: normal;font-family: Roboto;font-size:14px;float: left;margin-left: -5px;width: 200px;letter-spacing: -0.2px;
}

.form_win_feedback textarea{
    width:380px;height:70px;font-family:Roboto;font-size:14px;border-width:1px;border-style:solid;border-color:#939393;resize:none;letter-spacing: -0.2px;
}

.form_qhm p{
    width: 500px;clear: left; margin: 0; padding: 5px 0 8px 0; padding-left: 305px; height: 1%;   
    
}

.form_qhm label{
    color:#666666;font-weight: normal;font-family: Roboto;font-size:13px;float: left;margin-left: -265px;width: 170px;height:20px;line-height: 25px; letter-spacing: -0.2px;
}

.form_qhm input[type="text"]{   width:380px;height:20px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;letter-spacing: -0.2px; }

.form_qhm input[type="password"]{    width:180px;height:20px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;}

.form_qhm input[type="file"]{
      width:60px;height:60px;opacity:0;filter:alpha(opacity=0);cursor:pointer;
}

.form_qhm select{
    width:380px;height:25px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;background-color:#ffffff;letter-spacing: -0.2px;
}

.form_qhm textarea{
    width:380px;height:30px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;resize:none;letter-spacing: -0.2px;
}

/*#form_qhm_Button{
   font-family:Roboto;color:#FFFFFF;font-size: 14px;line-height: 18px ;text-decoration :none;left:10px;border:thin none;display:block;width:252px;height:41px;background-image:url(../img/but_sub_part5.png);cursor:pointer;
}*/

#users_zipcode_account_infp{  width:90px;}
#field_zipcode_ste_adrfact{  width:90px;}
#zipcode{  width:90px;}



#zipcode{  width:90px;}
#zipcode_account_infp{  width:90px;}

#users_tel{   width:150px;}

#phone{   width:150px;}

#users_mobile_account_infp{   width:150px;}

#users_mobile_account_infp{   width:150px;}




/*#form_qhm_Button_winboxalert{
	position:absolute;	top:5px;font-family:Roboto;color:#ffffff;font-size: 15px;line-height: 18px; text-decoration :none; border:thin none;display:block; width:178px;height:36px;background-image:url(../img/but_sub_part5b.png);background-repeat:no-repeat;cursor:pointer;right:70px;
}*/

#form_qhm_Button_optflx{
	position:relative;font-family:Roboto;color:#ffffff;font-size: 15px;line-height: 18px; text-decoration :none; border:thin none;display:block; width:178px;height:36px;background-image:url(../img/but_sub_part5b.png);background-repeat:no-repeat;cursor:pointer;right:70px;
}


.winbox_button_annul{
    position:absolute;right:10px;top:0px;width:46px;height:44px;cursor:pointer;background-image:url(../img/option_annul.png);background-repeat:no-repeat;background-position:center center;font-family:Roboto;color:#272626;font-size: 15px;line-height: 30px ;text-align: center;font-weight:bold;text-decoration :none;
}


.centerbutform{
    position:relative;top:12px;margin-left: auto; margin-right:auto;
}


/*------------------------------------*/
.form_qhm_format_right p{
    width: 500px;clear: left; margin: 0; padding: 5px 0 8px 0; padding-left: 305px; height: 1%;    
}


#date_crea {   width:250px;}
#city_format_right {   width:250px;}

.form_qhm_format_right label{
    color:#666666;font-weight: normal;font-family:Roboto;font-size:13px;float: left;margin-left: -115px;width: 170px;height:20px;line-height: 25px;letter-spacing: -0.2px;
      /*  color:#666666;font-weight: normal;font-family: arial;font-size:14px;float: left;margin-left: -115px;width: 200px;*/
}

.form_qhm_format_right input[type="text"]{   width:380px;height:20px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;letter-spacing: -0.2px; }

.form_qhm_format_right input[type="password"]{    width:180px;height:20px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;letter-spacing: -0.2px;}

.form_qhm_format_right input[type="file"]{
    width:480px;height:25px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;
}

.form_qhm_format_right select{
    width:380px;height:25px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;background-color:#ffffff;letter-spacing: -0.2px;
}

.form_qhm_format_right textarea{
    width:380px;height:30px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;resize:none;letter-spacing: -0.2px;
}

/*------------------------------------*/

/*------------------------------------*/
.form_qhm_format_right2 p{
    width: 500px;clear: left; margin: 0; padding: 5px 0 8px 0; padding-left: 350px; height: 1%;    
}




#city_format_right2 {   width:250px;}
/*
.form_qhm_format_right2 label{
    color:#666666;font-weight: normal;font-family:Roboto;font-size:13px;float: left;margin-left: -115px;width: 170px;height:20px;line-height: 25px;letter-spacing: -0.2px;
     
}*/

.form_qhm_format_right2 input[type="number"]{   width:90%;height:30px;font-family:Roboto;font-size:15px;border-width:1px;border-style:solid;border-color:#939393;-moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius: 3px;overflow: hidden;}

.form_qhm_format_right2 input[type="text"]{   width:90%;height:30px;font-family:Roboto;font-size:15px;border-width:1px;border-style:solid;border-color:#939393;-moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius: 3px;overflow: hidden;}
/*.form_qhm_format_right2 input[type="text"]{   width:380px;height:20px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius: 3px; }*/

.form_qhm_format_right2 input[type="password"]{    width:90%;height:30px;font-family:Roboto;font-size:15px;border-width:1px;border-style:solid;border-color:#939393;-moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius: 3px;overflow: hidden;letter-spacing: -0.2px;}

/*.form_qhm_format_right2 input[type="file"]{
    width:480px;height:25px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;
}*/

.form_qhm_format_right2 input[type=radio]:checked+label.link_radio {
    background-color:#939393;border-color:#939393;color:#FFF;white-space: nowrap;    transition: background .2s linear;
}

.form_qhm_format_right2 input[type="file"]{
    width:60px;height:60px;opacity:0;filter:alpha(opacity=0);cursor:pointer;moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius: 3px;letter-spacing: -0.2px;
}


.form_commentimg textarea{
    width:380px;color:#ffffff;height:30px;font-family:Roboto;font-size:.9375rem;border-width:1px;border-style:solid;border-color:#000000;resize:none;background-color:#4f4f4f;moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius: 3px;
}

.form_qhm_format_right2 select{
    width:380px;height:30px;font-family:Roboto;font-size:.15px;border-width:1px;border-style:solid;border-color:#939393;background-color:#ffffff;moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius: 3px;
}


.form_qhm_format_right2 textarea{
    width:90%;height:30px;font-size:.9375rem;font-family:Roboto;border-width:1px;border-style:solid;border-color:#939393;resize:none;moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius: 3px;
}



.form_qhm_windial p{
    width: 500px;clear: left; margin: 0; padding: 0px 0 0px 0; padding-left: 170px; height: 20px;       
}

.form_qhm_windial label{
    color:#666666;font-weight: normal;font-family:Roboto;font-size:12px;float: left;margin-left: -145px;width: 170px;height:16px;line-height: 50px; letter-spacing: -0.2px;
}

.form_qhm_windial input[type="text"]{   width:300px;height:16px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;letter-spacing: -0.2px; }

.form_qhm_windial input[type="password"]{    width:180px;height:20px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;letter-spacing: -0.2px;}



.form_qhm_windial input[type="file"]{
    width:480px;height:25px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;letter-spacing: -0.2px;
}



.form_qhm_windial select{
    width:300px;height:25px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;background-color:#ffffff;letter-spacing: -0.2px;
}

.form_qhm_windial textarea{
    width:380px;height:30px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;resize:none;letter-spacing: -0.2px;
}



.form_qhm_windialV2 p{
    width: 500px;clear: left; margin: 0; padding: 0px 0 0px 0; padding-left: 170px; height: 20px;       
}

.form_qhm_windialV2 label{
    color:#666666;font-weight: normal;font-family:Roboto;font-size:12px;float: left;margin-left: -145px;width: 170px;height:16px;line-height: 50px; letter-spacing: -0.2px;
}


.form_qhm_windialV2 select{
    width:300px;height:18px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;background-color:#ffffff;letter-spacing: -0.2px;
}

.form_qhm_windialV2 textarea{
    width:420px;height:50px;margin-top:40px;margin-left:80px;font-family:Roboto;font-size:15px;border-width:1px;border-style:solid;border-color:#d1d1d1;background-color:#f0f0f0;resize:none;letter-spacing: -0.2px;
}

.form_qhm_windialV2 input[type="text"]{   width:300px;height:16px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;letter-spacing: -0.2px; }


.form_qhm_windialV2 p{
    width: 500px;clear: left; margin: 0; padding: 0px 0 0px 0; padding-left: 170px; height: 20px;       
}

.form_qhm_windialV2 label{
    color:#666666;font-weight: normal;font-family:Roboto;font-size:12px;float: left;margin-left: -145px;width: 170px;height:16px;line-height: 50px; letter-spacing: -0.2px;
}


.form_qhm_windialV2 select{
    width:300px;height:18px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;background-color:#ffffff;letter-spacing: -0.2px;
}

.form_qhm_windialV2 textarea{
    width:420px;height:50px;margin-top:40px;margin-left:80px;font-family:Roboto;font-size:15px;border-width:1px;border-style:solid;border-color:#d1d1d1;background-color:#f0f0f0;resize:none;letter-spacing: -0.2px;
}

.form_qhm_windialV2 input[type="text"]{   width:300px;height:16px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393; letter-spacing: -0.2px;}


/***********************************/

.frame_qhm_R textarea{
    position:relative;width:465px;height:20px;font-family:Roboto;font-size:12px;border-width:0px;border-style:solid;border-color:#939393;resize:none;margin-left:5px;margin-top:9px;outline: none;resize:vertical;cursor:pointer;letter-spacing: -0.2px;
}
.frame_qhm_R input[type="text"]{  position:relative;width:465px;height:20px;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#939393;margin-left:5px;margin-top:9px;outline: none;letter-spacing: -0.2px; }



/*.frame_qhm_R textarea:focus {		height: 70px;		}*/

.frame_qhm_R input[type="file"]{
    width:28px;height:54px;opacity:0;filter:alpha(opacity=0);cursor:pointer;
}


/************************/

.frame_qhm_blocdesk input[type="text"]{   width:200px;height:16px;font-family:Roboto,arial;font-size:12px;border-width:1px;border-style:solid;border-color:#1e617d; }


/************************/

.form_qhm_format_galery input[type="file"]{
     width:30px;height:18px;opacity:0;filter:alpha(opacity=0);cursor:pointer;
}

/***********************************/
.frame_answerBasic textarea{
    position:relative;width:98%;min-height:50px;height: auto;font-family:Roboto;font-size:12px;border-width:1px;border-style:solid;border-color:#f3f3f3;resize:none;margin-left:5px;margin-top:9px;resize:vertical;cursor:pointer;margin-left:10px;outline: none;box-shadow: none;
}

.frame_answer textarea{
    position:relative;width:98%;height:50px;font-family:Roboto;font-size:90%;border-width:1px;border-style:solid;border-color:#f3f3f3;resize:none;margin-left:5px;margin-top:9px;resize:vertical;cursor:pointer;margin-left:10px;outline: none;box-shadow: none;moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius: 3px;
}

.frame_answer input[type="text"]{  position:relative;width:98%;height:20px;font-family:Roboto,arial;font-size:12px;border-width:1px;border-style:solid;border-color:#f3f3f3;margin-left:5px;margin-top:9px;outline: none; }


/*.frame_qhm_R textarea:focus {     height: 70px;       }*/

.frame_answer select{
    width:30%;font-family:Roboto;font-size:10px;
}


.frame_answer input[type="file"]{
    width:28px;height:54px;opacity:0;filter:alpha(opacity=0);cursor:pointer;
}

.frame_answer input[type=radio]:checked+label.link_radio {
    background-color:#939393;border-color:#939393;color:#FFF;white-space: nowrap;    transition: background .2s linear;
}

.form_qhm_format_right3 input[type="text"]{
    width:380px;height:40px;font-family:Roboto;font-size:100%;border-width:1px;border-style:solid;border-color:#939393;-moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius: 3px;overflow: hidden;
}

.link_radiotitle { width:90px;height:13px;font-family:Roboto;padding:3px 5px 4px 5px;line-height:20px;font-size:14px;font-weight:normal;color:#606060;text-decoration:none;float:left;}
.link_radio { height:20px;font-family:Roboto;text-align:center;padding:3px 5px 4px 5px;line-height:20px;font-size:14px;font-weight:normal;color:#939393;text-decoration:none;float:left;cursor:pointer;border-width:1px;border-style:solid;border-color:#fff;-moz-border-radius: 6px;   -webkit-border-radius: 6px;  border-radius: 6px;}
.link_radio:hover{background-color: #ffffff;color:#939393;font-weight: bold;}
.link_radiomaster { margin-top:3px;height:auto;float:left;margin-left:5px;cursor:pointer;border-width:1px;border-style:solid;border-color:#939393;-moz-border-radius: 6px;   -webkit-border-radius: 6px;  border-radius: 6px;background-color: #fff;}


.hidden{display: none}
