.qhm_HEAD{
    position:relative;
    width:1000px;
    height:40px;
    margin-left: auto;
    margin-right:auto;
   

}
.smenumfTITLE { display:none;margin-top:0px;height:32px;font-family:Roboto;text-align:center;line-height:32px;font-size:12px;font-weight: bold;color:#ffffff;text-decoration:none;float:left;margin-left:12px; }
.smenumf { margin-top:0px;height:32px;font-family:Roboto;text-align:center;line-height:32px;font-size:12px;color:#ffffff;text-decoration:none;float:left;margin-left:12px;cursor:pointer; }
.smenumf:hover {
margin-top:2px;height:29px;font-family:Roboto;text-align:center;line-height:27px;font-size:12px;color:#ffffff;text-decoration:none;float:left;margin-left:12px;background-color:#4d4d4d; }

#menu_user{
    position:absolute;
    right:1px;
    top:43px;
    width:290px;
    visibility: hidden;background-color: #faf7f7;z-index:1990;border-radius: 2px; -moz-border-radius: 3px; -webkit-border-radius: 1px; box-shadow: 0 3px 3px rgba(34,25,25,0.3); -moz-box-shadow: 0 3px 3px rgba(34,25,25,0.3); -webkit-box-shadow: 0 3px 3px rgba(34,25,25,0.3);
    border-width:1px;
    border-style:solid;
    border-color:#828282;
   
    border-bottom-color:#828282;
    border-top-style:none;
    border-left-color:#828282;
    border-right-color:#828282;
}
#menu_user2{
    position:absolute;
    right:2px;
    top:0px;
    width:290px;
    height:26px;
    visibility: hidden;
}
#menu_TITLE{
    position:relative;width:95%;height:40px;left:5px;font-family:Roboto;color:#524d4d;font-size: 15px;text-align: left;text-indent: 5px;line-height: 45px;text-decoration: none;
     border-width:1px;
    border-style:solid;
    border-bottom-color:#404040;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
}
#LINK_head{
    position:relative;width:100%;height:25px;font-family:Roboto;color:#524d4d;font-size: 12px;text-align: left;text-indent: 45px;line-height: 25px;text-decoration: none;
}
#LINK_head:hover{
    color:#271919;background-color: #e1dfdf;
}
#LINK_headb{
    text-decoration: none;
}



#HEAD_BLOC_title{
    position:absolute;right:40px;top:0px;width:590px;height:33px;text-align: right;
}

#HEAD_ste_title{
   cursor:pointer;font-family: Roboto;font-size: 25px;color:#ffffff;text-decoration: none;
}


#HEAD_user_title{
  cursor:pointer; font-family: Roboto;font-size: 15px;color:#bbbcbc;text-decoration: none;
}





.button_sh{position:absolute;top:0px;right:0px;border:thin none;display:block;width:23px;height:25px;background-image:url(../img/button_sh.png);cursor:pointer;}

#HEAD_office{
    font-family: Roboto;font-size: 19px;color:#bbbcbc;text-decoration: none;
}

#HEAD_mydesktop{
    font-family: Roboto;font-size: 16px;color:#bbbcbc;text-decoration: none;z-index: 2000;
}
#ejs_server_heure{
  cursor:pointer; font-family:Roboto;font-size: 25px;color:#bbbcbc;text-decoration: none;
}

#HEAD_date{
  cursor:pointer; font-family: Roboto;font-size: 20px;color:#bbbcbc;text-decoration: none;
}

#qhm_u{
    position:absolute;margin-right: 10px;right:10px;top:30px;width:590px;height:33px;text-align: right;line-height: 45px;z-index:1990;
}