.zonename{font-family:Exo;font-size:90%;}

.zonenameFlx{font-family:Exo;font-size:90%;letter-spacing: -1.0px;}

canvas {     position:absolute;width:400px;height:auto;left:310px;max-height:400px;-moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius:3px; display: none;}
#video {    position: absolute; width:400px;height:auto;left:310px;max-height:400px;-moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius:3px;}
#photo {    position: absolute; width:400px;height:auto;;left:310px;max-height:400px;display:none;}
#butblock {    position: absolute; width:100%;height:40px;bottom:0px;}
#butrefresh{position:absolute;cursor:pointer;position:absolute; width:60px;height:60px;top:0px;left:48%;background-image:  url(../img/refresh2.png);background-repeat:no-repeat;background-position:center center;display:none;}
#butrefresh_upload_areaflx{position:absolute;cursor:pointer;position:absolute; width:60px;height:60px;top:0px;left:48%;background-image:  url(../img/refresh2.png);background-repeat:no-repeat;background-position:center center;}


.bloc_text_shadow2{text-shadow: 0 1px 0px #666;text-decoration: none;letter-spacing: 0px;}

.c_qhm{color:#666666;}
.C_qhmnameflx {color:#333333; }



.bloc_menuform{position:absolute;left:0px;top:60px;z-index:3500;width:200px;height:auto;}

.c_data_titre{color:#313131;font-weight:bold;font-size:13px;}
.cadre_data{position:relative;width:100%;overflow:hidden;}


.BulleAlert{ background: url(../img/bullealert.png);z-index:3010;left:15px;top:5px;position:absolute;width:171px;height:43px;line-height:46px;text-align:center;font-family:Exo;font-size:13px;display:none;color:#27628f;font-weight:bold;}
.BulleAlert_form{ left:420px;top:65px;}

.ImgProgress{position:absolute;width:43px;height:11px;left:65px;top:20px;}
.BulleImgProgress{background: url(../img/bullealert.png);margin-left: auto; margin-right:auto;z-index:3010;top:5px;position:relative;width:171px;height:43px;display:none;}

#HEAD_disconnect{ position:absolute;width:102px;left:0px;height:41px;cursor: pointer;font-family:Exo;font-size:12px;color:#ffffff;}

.link_desktopD { position:absolute;margin-top:2px;height:34px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:33px;font-size:12px;font-weight:bold;color:#b6cbcc;text-decoration:none;float:left;margin-left:625px;cursor:pointer;}
.link_desktopD:hover {cursor:pointer;background-color:#276b88;color:#ffffff;}

.link_desktopDclick { position:absolute;margin-top:2px;height:34px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:33px;font-size:12px;font-weight:bold;background-color:#276b88;color:#ffffff;text-decoration:none;float:left;margin-left:625px;cursor:pointer;}


.bkgrd { position:absolute;width:100%;top:0px;bottom: 0px;height:auto;left:0px;right:0px;margin:0px;padding:0px;background-color:#d3d3d3;visibility: hidden;z-index:1000; }

.bkgrdglobalcontent{	position:fixed;width:100%;height:auto;top:50px;bottom:0px;left:0px;right:0px;margin:0px;padding:0px;background-color:#000;display: none;z-index:5000;transition: opacity .3s;opacity: .6;}

.bkgrdglobal{	position:fixed;width:100%;height:auto;top:0px;bottom:0px;left:0px;right:0px;margin:0px;padding:0px;background-color:#000;display: none;z-index:5000;transition: opacity .3s;opacity: .6;}
.bkgrdglobalblack{	position:fixed;width:100%;height:auto;top:0px;bottom:0px;left:0px;right:0px;margin:0px;padding:0px;background-color:#000;visibility: hidden;z-index:5000;transition: opacity .3s;opacity: .6;}

.bkgrdglobal2{	position:fixed;width:100%;top:0px;bottom:0px;left:0px;right:0px;margin:0px;padding:0px;background-color:#ffffff;visibility: hidden;z-index:4011;}
.divform_data{
    clear: left; margin: 0; padding: 5px 0 8px 0; padding-left: 305px; height: 1%;
}

.winbox_alertV2{	
    
	position: absolute;top:0px;left: 50%;margin-left: -300px;z-index:10000;
}

.winbox_content_topV2{
    position:relative;width:100%;height:40px;margin-left: auto;margin-right:auto;border-width:1px;border-style:solid;border-color:#828282;background-color: #1e617d;border-bottom-color:#cecece;border-top-color:#828282; border-left-color:#828282;border-right-color:#828282;background-color:#ffffff;width:600px;font-family:Exo;font-size:12px; font-weight:bold;color:#777777;line-height:40px; text-indent:10px; z-index: 3000;
}

.winbox_alert{	
	position: fixed;top:80px;left: 50%;margin-left: -300px;z-index:10000;
}

.winbox_alertQHM2{	
	position:fixed;width:100%;top:0px;bottom:0px;margin-left:0px;left:0px;right:0px;margin:0px;padding:0px;z-index:4013;overflow-y:scroll;overflow-x:hidden;
}
.winbox_alertQHM{	
	position: fixed;width:100%;top:0px;bottom:0px;margin-left:0px;left:0px;right:0px;margin:0px;padding:0px;z-index:10000;overflow-y:scroll;overflow-x:hidden;
}
#winbox_contentQHM{
	width:990px;height:37px;line-height:50px; text-indent:10px;
}
#winbox_footQHM{   
	position:relative;width:990px;left:0px;margin-left: auto;margin-right:auto;border-width:1px;border-style:solid;border-color:#828282;border-bottom-color:#828282;border-top-style:none;border-left-color:#828282;border-right-color:#828282;height:44px;background-image:url(../img/option_bottom.png);z-index: 3000;  border-bottom-left-radius:3px;   border-bottom-right-radius:3px;     -moz-border-bottom-left-radius: 3px;     -moz-border-bottom-right-radius: 3px;      -webkit-border-bottom-left-radius: 3px;    -webkit-border-bottom-right-radius: 3px;        box-shadow: 0 3px 3px rgba(34,25,25,0.3); -moz-box-shadow: 0 3px 3px rgba(34,25,25,0.3); -webkit-box-shadow: 0 3px 3px rgba(34,25,25,0.3);
}




#winbox_content{
	width:600px;height:auto;max-height:300px;min-height:50px;
}




.close_optflx{    position:relative;width:100%;line-height:44px;text-indent:5px;text-align:left;margin-left: auto;margin-right:auto;border-width:1px;border-style:solid;border-color:#828282;border-bottom-color:#828282;border-top-style:none;border-left-style:none;border-right-style:none;height:44px;background-image:url(../img/option_bottom.png);z-index: 3000;    border-radius: 2px; -moz-border-radius: 3px; -webkit-border-radius: 1px; box-shadow: 0 3px 3px rgba(34,25,25,0.3); -moz-box-shadow: 0 3px 3px rgba(34,25,25,0.3); -webkit-box-shadow: 0 3px 3px rgba(34,25,25,0.3);}


#lnk_head_qhm{    font-family: Exo;font-size: 17px;color:#000000;text-decoration: none;}
#qhm_topmaster{
    position:relative;width:100%;
    height:150px;
    background-color: #838383;
}



#qhm_bloc_bottom{    position:absolute;width:100%;height:30px;bottom:0px;margin-bottom: 0px; opacity:0.2;filter:alpha(opacity=20);}

.qhm_button{    margin-left: auto;margin-right:auto;position:relative;top:10px;width:161px;height:41px;cursor:pointer;background-image:url(../img/button/but_grey_161_36.png);background-repeat:no-repeat;background-position:center center;font-family:Exo;color:#272626;font-size: 15px;line-height: 41px ;text-align: center;font-weight:bold;text-decoration :none;}
.qhm_button_littletypo { font-size:13px;}
.qhm_button_absolute{
    position:absolute;width:161px;height:41px;cursor:pointer;background-image:url(../img/button/but_grey_161_36.png);background-repeat:no-repeat;background-position:center center;font-family:Exo;color:#272626;font-size: 15px;line-height: 41px ;text-align: center;font-weight:bold;text-decoration :none;
}

#qhm_Title{ height:30px;font-family:Exo;font-size:15px;color:#1e617d;text-align:center;}


#but_changeimg{ height:50px;}

#bloc_qhm_title{
    position:relative;width:100%;height:30px;background-color:#ededed;font-family:"lucida grande",tahoma,verdana;text-indent:2px;line-height:30px;font-size:17px;font-weight:bold;color:#4c4c4c;
}

#bloc_qhm_content{
   position:absolute;width:100%;top:30px;bottom:30px;background-color: #ffffff;

}
#bloc_qhm_action{
    position:absolute;width:100%;height:30px;bottom:1px;background-color: #f3f3f3;
}

#LINK_head_stack3{
    position:relative;width:100%;height:20px;font-family:"lucida grande",tahoma,verdana;color:#d0d0d0;font-size: 11px;text-indent: 5px;line-height: 20px;
}

#LINK_head_stack3:hover{
    color:#ffffff;background-color: #ffffff;
}

#LINK_head_stack3b{  text-decoration: none;}


/* -----blocs parents----- */
.master_DESK{	position:absolute;width:435px;top:100px;bottom:0px;padding:0px;}
#user{ left:40px;}
#ste{ left:530px;}

img.centered {    display: block;margin-left: auto;margin-right: auto ;text-align: center;}
#master_desktop{	position:relative;width:1000px; margin-left: auto;margin-right:auto; }

.master_desktop{ position:relative; width:1000px; margin-left: auto; margin-right:auto;}

/*--DESKTOP---*/
#b1_title_user{	position:relative;width:439px;height:70px;font-family:Exo;font-size:15px;color:#ffffff;background-image:url(../img/02_bl_deskLEFT.png);background-repeat:no-repeat;background-position:top center;}

#users_contact{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:110px;background-color:#f4f5f6; }
#users_gallery{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:200px;background-color:#ffffff; }
#users_imginfo{ position:relative;width:100%;height:140px;}

#users_img{ position:absolute;width:200px;height:200px;top:35px;right:5px;}

#users_infp{ position:absolute;top:75px;width:250px;right:215px;height:140px;overflow-y:hidden;overflow-x:hidden;background-color:#ffffff;}

.b1_title_flx{	position:relative;width:100%;height:30px;font-family:Exo;font-size:15px;color:#000;text-indent:10px;line-height:33px;background-color:#fff;border-width:0px; border-style:none;border-color:#fff;moz-border-radius: 4px;   -webkit-border-radius: 4px;  border-radius: 4px;}
.b1FL_title_flx{	position:absolute;width:100%;height:18px;top:33px;background-image:  url(../img/flv2_b2.png);background-repeat:no-repeat;background-position:top left;z-index:1000;}

#b1_title_ste{	position:relative;width:439px;height:70px;font-family:Exo;font-size:15px;color:#ffffff;background-image:  url(../img/02_bl_deskRIGHT.png);background-repeat:no-repeat;background-position:top center;text-indent:10px;line-height:40px;}

.title_activity{position:absolute;width:340px;height:29px;top:0px;left:1px;z-index:1000;cursor:pointer;overflow:hidden;}
.title_activity:hover {text-decoration : underline;cursor:pointer;}

#title_use{position:absolute;width:390px;height:69px;text-align:right;right:15px;line-height:40px;}
.title_use{position:absolute;width:390px;height:69px;text-align:right;right:15px;line-height:40px;}
.title_use:hover {text-decoration:underline;cursor:pointer;}


#bmgnt_AFFFLX{ position:relative;width:100%;height:auto;min-height:50px;max-height:300px;background-color:#FFFFFF;}

#bmgnt_customer{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:180px;background-color:#FFFFFF;}

#bmgnt_customer{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:180px;background-color:#FFFFFF;}
#bmgnt_provider{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:140px;background-color:#FFFFFF;}
#bmgnt_quotation{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:140px;background-color:#FFFFFF;}
#bmgnt_product{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:140px;background-color:#FFFFFF;}
#product_img{ position:absolute;width:200px;height:200px;left:5px;top:35px;}
#customer_img{ position:absolute;width:200px;height:200px;left:5px;top:35px;}
#customer_ope{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:107px;background-color:#FFFFFF; }
#bmgnt_ventesn{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:570px;background-color:#FFFFFF;}

#ste_employ{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:240px;background-color:#FFFFFF; }
#ste_subscrib{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:240px;background-color:#FFFFFF; }

#use_qhapps{ overflow-y:hidden;overflow-x:hidden;position:relative;width:435px;height:140px;background-color:#FFFFFF; }
#ste_activity{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:240px;background-color:#FFFFFF;}
#ste_customer{ overflow-y:hidden;overflow-x:hidden;position:relative;width:100%;height:130px;background-color:#FFFFFF; }
#ste_imginfo{ position:relative;width:100%;height:140px;}

#ste_img{ position:absolute;width:200px;height:200px;left:5px;top:35px;}
#block_items{ position:absolute;width:200px;height:auto;left:2px;top:370px;z-index:3500;}
#ste_info{ position:absolute;width:290px;height:140px;right:0px; top:0px;overflow-y:hidden;overflow-x:hidden;background-color:#ffffff;}
.bloc_SHADOW21{border-width:1px; border-style:solid;border-color:#beceda;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.bloc_SHADOW{border-width:1px; border-style:solid;border-color:#beceda;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.bloc_SHADOWmenu{border-width:1px; border-style:solid;border-color:#beceda;border-radius: 2px; -moz-border-radius: 3px; -webkit-border-radius: 1px; box-shadow: 0 3px 3px rgba(34,25,25,0.3); -moz-box-shadow: 0 3px 3px rgba(34,25,25,0.3); -webkit-box-shadow: 0 3px 3px rgba(34,25,25,0.3);}
/*.bloc_SHADOW2{border-width:1px; border-style:solid;border-color:#beceda;border-radius: 2px; -moz-border-radius: 3px; -webkit-border-radius: 1px; box-shadow: 0 3px 3px rgba(34,25,25,0.3); -moz-box-shadow: 0 3px 3px rgba(34,25,25,0.3); -webkit-box-shadow: 0 3px 3px rgba(34,25,25,0.3);}*/

.bloc_SHADOWmenu{border-width:1px; border-style:solid;border-color:#7d7d7d;border-radius: 2px; -moz-border-radius: 3px; -webkit-border-radius: 1px; box-shadow: 0 3px 3px rgba(34,25,25,0.3); -moz-box-shadow: 0 3px 3px rgba(34,25,25,0.3); -webkit-box-shadow: 0 3px 3px rgba(34,25,25,0.3);}

.bloc_SHADOW2{border-width:0px; border-color:#dadada;border-radius: 2px; -moz-border-radius: 3px; -webkit-border-radius: 1px; box-shadow: 0 3px 3px rgba(34,25,25,0.3); -moz-box-shadow: 0 3px 3px rgba(34,25,25,0.3); -webkit-box-shadow: 0 3px 3px rgba(34,25,25,0.3);}
.bloc_SHADOW3{border-width:0px;border-color:#dadada;border-radius:  0px; -moz-border-radius:   0px; -webkit-border-radius: -1px -1px 1px 0px ; box-shadow:   -1px -1px 1px 0px  rgba(34,25,25,0.3); -moz-box-shadow:   -1px -1px 1px 0px  rgba(34,25,25,0.3); -webkit-box-shadow:  -1px -1px 1px 0px rgba(34,25,25,0.3);}

.space_desk{ position:relative;width:100%;height:20px;overflow: hidden;}

.opacity_link_desktop{ cursor:pointer;position:absolute;width:100%;background-color:#222222;height:35px;bottom:0px;-moz-opacity:0.53;
-khtml-opacity:0.53;
-ms-filter:"alpha(opacity=53)";
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=53);
filter:alpha(opacity=53);
opacity:0.53;
zoom: 1;}
.opacity_link_desktop3{ cursor:pointer;position:absolute;width:100%;height:35px;bottom:0px; }
.opacity_link_desktop2{ cursor:pointer;position:absolute;width:100%;height:45px;bottom:35px;background-color:#222222;-moz-opacity:0.53;
-khtml-opacity:0.53;
-ms-filter:"alpha(opacity=53)";
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=53);
filter:alpha(opacity=53);
opacity:0.53;
zoom: 1;}


.opacitygl {background-color:#000000;-moz-opacity:0.63;-khtml-opacity:0.63;-ms-filter:"alpha(opacity=63)";filter: progid:DXImageTransform.Microsoft.Alpha(opacity=63);filter:alpha(opacity=63);opacity:0.63;zoom: 1; }
.opacitygl_head {background-color:#1d1d1d;-moz-opacity:0.53;-khtml-opacity:0.53;-ms-filter:"alpha(opacity=53)";filter: progid:DXImageTransform.Microsoft.Alpha(opacity=53);filter:alpha(opacity=53);opacity:0.53;zoom: 1; }
.head_opacity{background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(0,0,0,0.65)),color-stop(100%,rgba(0,0,0,0.65)));background: -webkit-linear-gradient(top,rgba(0,0,0,0.65),rgba(0,0,0,0.65));background: -moz-linear-gradient(top,rgba(0,0,0,0.65),rgba(0,0,0,0.65));background: -o-linear-gradient(top,rgba(0,0,0,0.65),rgba(0,0,0,0.65));background: linear-gradient(top,rgba(0,0,0,0.65),rgba(0,0,0,0.65));border: 1px solid black;border-right: 0;border-left: 0;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);z-index:3000;}


A.link_desktophead{background-image:  url(../img/resize_head.png);background-repeat:no-repeat;background-position:center center;text-decoration:none;cursor:pointer;position:absolute;width:130px;height:25px;bottom:0px;font-family:Exo;font-size:14px;color:#ffffff;text-indent:5px;line-height:25px;left:800px;z-index:1000;}
A.link_desktophead:visited {text-decoration:none;cursor:pointer;position:absolute;width:150px;height:25px;bottom:0px;font-family:Exo; font-weight:bold;font-size:12px;color:#ffffff;text-indent:10px;line-height:25px;left:800px;}
A.link_desktophead:hover {text-decoration : underline;cursor:pointer;}

A.link_desktopheadaff{text-decoration:none;cursor:pointer;position:absolute;width:130px;height:25px;bottom:0px;font-family:Exo;font-size:14px;color:#ffffff;text-indent:5px;line-height:25px;left:800px;z-index:1000;}
A.link_desktopheadaff:visited {text-decoration:none;cursor:pointer;position:absolute;width:150px;height:25px;bottom:0px;font-family:Exo; font-weight:bold;font-size:12px;color:#ffffff;text-indent:10px;line-height:25px;left:800px;}
A.link_desktopheadaff:hover {text-decoration : underline;cursor:pointer;}

A.link_desktop{text-decoration:none;cursor:pointer;position:absolute;width:100%;height:25px;bottom:0px;font-family:Exo;font-size:14px;color:#ffffff;text-indent:5px;line-height:25px;z-index:1000;}
A.link_desktop:visited {text-decoration:none;cursor:pointer;position:absolute;width:100%;height:25px;bottom:0px;font-family:Exo; font-weight:bold;font-size:12px;color:#ffffff;text-indent:10px;line-height:25px;}
A.link_desktop:hover {text-decoration : underline;cursor:pointer;}
 
A.butlink_desktop{text-decoration:none;cursor:pointer;position:absolute;width:100%;height:25px;font-family:Exo;font-size:14px;color:#ffffff;text-indent:5px;line-height:25px;z-index:1000;}
A.butlink_desktop:visited {text-decoration:none;cursor:pointer;position:absolute;width:100%;height:25px;font-family:Exo; font-weight:bold;font-size:12px;color:#ffffff;text-indent:10px;line-height:25px;}
A.butlink_desktop:hover {text-decoration : none;cursor:pointer;font-weight:bold;}
 
 .form_qhm_menuimg{}


.title_desktop3{font-size:18px;line-height:38px;text-indent:5px;}
.title_desktop2{font-size:100%;line-height:30px;}
.title_desktop2flx{font-size:80%;line-height:38px;}
A.link_desktop2{position:absolute;right:2px;text-decoration:none;cursor:pointer;font-size:12px;z-index:1000;margin-top:2px;height:19px;text-align:center;padding:2px 5px 2px 5px;line-height:22px; }
A.link_desktop2:visited {text-decoration:none;cursor:pointer;}
A.link_desktop2:hover {text-decoration : underline;cursor:pointer;}

.link_desktop3{position:absolute;right:2px;text-decoration:none;cursor:pointer;font-size:12px;z-index:1000;margin-top:2px;height:19px;text-align:center;padding:2px 5px 2px 5px;line-height:22px; }

#desk_alertmaster{ position:absolute;width:100%;height:60px;margin-bottom:0px;bottom:0px; }
#desk_alert{ position:relative;height:90px;background-color:#dae6ee;margin-left:1px;margin-right:1px; }
#desk_alert_picto{ margin-top:0;height:8px;background-image:  url(../img/fleche_up.png);background-color:#ffffff;background-repeat:no-repeat;background-position:bottom center; }
#text_desk_alert{font-weight:bold;font-family:Exo;text-align:center;line-height:25px; font-size:12px; color:#27628f;}

.text_desk {font-family:Exo; font-size:12px; color:#3d3d3d;text-indent:5px;}
.text_title_desk{ font-family:Exo; font-size:15px;line-height:20px; height:20px;color:#3d3d3d;text-indent:5px;font-weight:bold; }

.label_desktop{color:#157491;}

.cadre_box_desktop{
	position:absolute;bottom:0px;width:100%;height:30px;
	   border-width:1px;
    border-style:solid;    
    border-bottom-style:none;
    border-top-color:#7d7d7d;
  	border-left-style:none;
    border-right-style:none;
    background-color:#ffffff;
    z-index: 1700;text-indent:10px;
    font-weight:normal;
}




.qhm_line{
	border-width:1px;
    border-style:solid;
    border-bottom-style:none;
    border-top-style:none;
    border-left-style:none;
    border-right-color:#d9d9d9;
    overflow:hidden;

}

.col_0img{position:absolute;width:56px;height:75px;left:1px;background-color:#ffffff;}

.col_affimg{ position:absolute;width:130px;height:75px;left:57px; }
.col_1img{ position:absolute;width:130px;height:75px;left:187px; }
.col_2img2{ position:absolute;width:370px;height:75px;left:318px; }
.col_5img{ position:absolute;width:100px;height:75px;left:787px; }
.col_6img{ position:absolute;width:100px;height:75px;left:887px; }


.col_0{position:absolute;width:56px;height:37px;left:1px;background-color:#ffffff;}
.col_1{ position:absolute;width:130px;height:37px;left:57px; }
.col_1adv{ position:absolute;width:109px;height:37px;left:57px; }


.col_2{ position:absolute;width:400px;height:37px;left:187px; }
.col_2catalog{ position:absolute;width:500px;height:37px;left:187px; }
.col_2adv{ position:absolute;width:221px;height:37px;left:167px; }
.col_2adv2{ position:absolute;width:259px;height:37px;left:167px; }



.col_2b{ position:absolute;width:500px;height:37px;left:187px; }
.col_2c{ position:absolute;width:400px;height:37px;left:187px; }
.col_2d{ position:absolute;width:800px;height:37px;left:187px; }

.col_1ch{ position:absolute;width:150px;height:37px;left:57px; }
.col_2ch{ position:absolute;width:780px;height:37px;left:207px; }



.col_3{ position:absolute;width:100px;height:37px;left:587px; }

.col_PriceHT{ position:absolute;width:100px;height:37px;left:587px;overflow:hidden;  }
.col_PriceHTadv{ position:absolute;width:99px;height:37px;left:487px;overflow:hidden;  }

.col_PriceHTcatalog{ position:absolute;width:99px;height:37px;left:688px; }
.col_PriceHTcatalogimg{ position:absolute;width:99px;height:75px;left:688px; }
.col_PriceHTadvcatalog{ position:absolute;width:100px;height:37px;left:696px; }

.col_Qty{ position:absolute;width:100px;height:37px;left:687px; }
.col_Qtyadv{ position:absolute;width:54px;height:37px;left:586px; }

.col_TotalMARGE{ display:none; }
.col_TotalMARGEadv{ position:absolute;width:100px;height:37px;left:641px;display:block; }

.col_TotalMARGE{ display:none; }
.col_TotalMARGEadvcatalog{ position:absolute;width:100px;height:37px;left:532px;display:block; }

.col_Total_pcent_MARGE{ display:none; }
.col_Total_pcent_MARGEadv{ position:absolute;width:55px;height:37px;left:741px;display:block; }
.col_Total_pcent_MARGEadvcatalog{ position:absolute;width:55px;height:37px;left:641px;display:block; }

.col_Taxe{ position:absolute;width:100px;height:37px;left:787px; }
.col_Taxeadv{ position:absolute;width:90px;height:37px;left:797px; }
.col_Taxeadvcatalog{ position:absolute;width:91px;height:37px;left:796px; }

.col_3adv{ position:absolute;width:99px;height:37px;left:388px;overflow:hidden; }
.col_PA_HTcatalog{ position:absolute;width:105px;height:37px;left:427px; }

.col_3c{ position:absolute;width:400px;height:37px;left:587px; }

.col_4{ position:absolute;width:100px;height:37px;left:687px; }

.col_5{ position:absolute;width:100px;height:37px;left:787px; }

.col_6{ position:absolute;width:100px;height:37px;left:887px; }
.col_mntTTCcatalog{ position:absolute;width:100px;height:37px;left:888px; }

.col_1_desktop{ position:absolute;width:80px;height:59px;left:7px; }
.col_1_desktopb{ position:absolute;width:475px;height:59px;left:7px; }

.col_2_desktop{ position:absolute;width:375px;height:59px;left:81px; }

.col_2_desktopb{ position:absolute;width:370px;height:59px;left:97px; }

.col_3_desktop{ position:absolute;width:70px;height:25px;left:282px; }
.col_3_desktopb{ position:absolute;width:175px;height:25px;left:259px; }

.col_4_desktop{ position:absolute;width:70px;height:25px;left:350px; }

.h_col_desktop{ height:25px}
.line_text_desktop{font-family:Exo; font-size:10px;line-height:20px;text-indent:2px; color:#313131;overflow:hidden;}





.cursor_line {cursor:pointer;}
.line_text{font-family:Exo; font-size:14px;line-height:37px;text-indent:5px; color:#313131;overflow:hidden;}
.line_date{font-family:Exo; font-size:14px;line-height:37px;text-align:center; color:#313131;overflow:hidden;}
.line_num{font-family:Exo; font-size:14px;line-height:37px;text-align:right; color:#313131;overflow:hidden;}

.smenudoctrade3 {height:55px;left:0px;overflow:hidden;border-width:1px;border-style:solid;border-color:#d9d9d9; margin-top:0px;float:left;margin-left:0px;cursor:pointer;padding: 0px}

.smenudoctrade4 {height:45px;left:0px;overflow:hidden;border-width:1px;border-style:solid;border-color:#d9d9d9; margin-top:0px;float:left;margin-left:0px;cursor:pointer;padding: 0px}

.smenudoctrade2 { width:429px;margin-top:0px;height:35px;font-family:Exo;text-align:left;padding:0px 5px 2px 5px;line-height:30px;font-size:11px;color:#313131;text-decoration:none;float:left;margin-left:1px;cursor:pointer;border-width:1px; border-style:solid;border-top-style:none;border-right-style:none;border-left-style:none; border-bottom-style:none; }
.width_notify{width:316px;height:45px;line-height:15px;}


.act_tags{ position:absolute;width:265px;height:170px;left:210px;overflow:hidden;top:90px;left:30px;z-index:4000;}

.link_desktop5STR { margin-top:0px;height:45px;font-family:Exo;text-align:center;padding:3px 10px 2px 10px;line-height:50px;font-size:13px;font-weight:bold;color:#1e617d;text-decoration:none;float:left;margin-left:0px;cursor:pointer;	}
.link_desktop5STR:hover {cursor:pointer;text-decoration:underline;}

.link_desktop5N { color: #3E6D8E;
background-color: #E0EAF1;
border-bottom: 1px solid #b3cee1;
border-right: 1px solid #b3cee1;
padding: 3px 4px 3px 4px;
margin: 2px 2px 2px 0;
text-decoration: none;
font-size: 12px;
line-height: 1.4;
white-space: nowrap;
display: inline-block;font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;	}
.link_desktop5N:hover {cursor:pointer;background-color:#b3cee1;}

.link_desktop5ST { margin-top:0px;height:43px;font-family:Exo;text-align:center;padding:3px 10px 2px 10px;line-height:50px;font-size:13px;font-weight:normal;color:#666666;text-decoration:none;float:left;margin-left:0px;cursor:pointer;	}
.link_desktop5ST:hover {cursor:pointer;color:#666666;}

.link_desktop5TR { margin-top:0px;height:45px;font-family:Exo;text-align:center;padding:2px 10px 2px 10px;line-height:50px;font-size:13px;font-weight:bold;color:#666666;text-decoration:none;float:left;margin-left:0px;cursor:pointer;
	border-width:1px; border-style:solid; border-color:#beceda;
    border-bottom-style:none;
    border-top-color:#828282;
  	border-left-color:#828282;
    border-right-color:#828282;background-color:#e9eaed;}
.link_desktop5TR:hover {cursor:pointer;background-color:#e9eaed;text-decoration:underline;}

.link_desktop5T { margin-top:0px;height:43px;font-family:Exo;text-align:center;padding:2px 10px 2px 10px;line-height:50px;font-size:13px;font-weight:bold;color:#1e617d;text-decoration:none;float:left;margin-left:0px;cursor:pointer;
	border-width:1px; border-style:solid; border-color:#beceda;
    border-bottom-style:none;
    border-top-color:#beceda;
  	border-left-color:#beceda;
    border-right-color:#beceda;background-color:#ffffff;}
.link_desktop5T:hover {cursor:pointer;background-color:#e9eaed;}


A.link_desktop5PHOTO { background-image:  url(../img/photoP.png);background-repeat:no-repeat;background-position:center center; margin-top:3px;height:18px;font-family:Exo;text-align:right;padding:2px 2px 2px 0px;line-height:20px;font-size:11px;font-weight:bold;color:#1e617d;text-decoration:none;float:right;margin-right:2px;cursor:pointer;border-width:1px; border-style:solid; border-color:#beceda;background-color:#ffffff;border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; box-shadow: 0 1px 1px rgba(34,25,25,0.3); -moz-box-shadow: 0 1px 1px rgba(34,25,25,0.3); -webkit-box-shadow: 0 1px 1px rgba(34,25,25,0.3);overflow:hidden;cursor:pointer; }
A.link_desktop5PHOTO:hover {cursor:pointer;background-color:#eef3f8;}

.affflx_three { font-family:Exo;padding:2px 2px 9px 2px;font-size:12px;color:#333;text-decoration:none;float:left;margin-left:5px;cursor:pointer;	background-color:#ffffff;}
.affflx { font-family:Exo;padding:6px 6px 9px 6px;font-size:14px;;color:#333;text-decoration:none;margin-left:3px;letter-spacing: -0.1px; }
.aff_winbox { font-family:Exo;padding:6px 6px 9px 6px;font-size:15px;color:#53585b;text-decoration:none;float:left;margin-left:5px;cursor:pointer;	background-color:#ffffff;}

.link_idesktop5T { position:relative;width:100%;height:20px;margin-top:0px;font-family:Exo;padding:3px 5px 4px 5px;line-height:20px;font-size:10px;font-weight:bold;color:#1e617d;text-decoration:none;float:left;margin-left:5px;cursor:pointer;	background-color:#ffffff;}
.link_idesktop5T:hover {cursor:pointer;background-color:#e9eaed;}


.link_idesktop5TIMG {  position:relative;width:95%;height:20px;margin-top:0px;font-family:Exo;padding:5px 5px 4px 25px;line-height:20px;font-size:11px;color:#000000;text-decoration:none;float:left;margin-left:5px;cursor:pointer;	background-color:#ffffff;}
.link_idesktop5TIMG:hover {cursor:pointer;background-color:#ddecf4;-moz-border-radius: 3px;   -webkit-border-radius: 3px;  border-radius: 3px; }

.link_idesktop5TIMGALERT {  position:relative;width:100%;height:20px;margin-top:0px;font-family:Exo;padding:5px 5px 4px 25px;line-height:20px;font-size:10px;font-weight:bold;color:#871313;text-decoration:none;float:left;margin-left:5px;cursor:pointer;	background-color:#f2cfcf;}
.link_idesktop5TIMGALERT:hover {cursor:pointer;background-color:#f2cfcf;text-decoration:underline;}

.link_idesktop5TIMGCONFIRMREGL {  position:relative;width:100%;height:20px;margin-top:0px;font-family:Exo;padding:5px 5px 4px 25px;line-height:20px;font-size:10px;font-weight:bold;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer;	background-color:#55ab41;}
.link_idesktop5TIMGCONFIRMREGL:hover {cursor:pointer;background-color:#f2cfcf;text-decoration:underline;}

.link_idesktop5TIMGsch { height:15px;margin-top:0px;font-family:Exo;padding:2px 5px 4px 25px;line-height:15px;font-size:10px;font-weight:bold;color:#1e617d;text-decoration:none;float:left;margin-left:5px;cursor:pointer;	background-color:#ffffff;}
.link_idesktop5TIMGsch:hover {cursor:pointer;background-color:#e9eaed;}
.link_idesktopDOWNLOAD{ background-image:  url(../img/download.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktopTAKEPHOTO{ background-image:  url(../img/photoP.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktopFBPHOTO{ background-image:  url(../img/fb_img3.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5PRINTER{ background-image:  url(../img/printer2.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5DUPLICATE{ background-image:  url(../img/duplicate2.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5PUBLISH{ background-image:  url(../img/publish.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5PUBLISHOFF{ background-image:  url(../img/publishoff.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5RETRACT{ background-image:  url(../img/retract.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5INVOICE{ background-image:  url(../img/invoice.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5DELETEDOC{ background-image:  url(../img/deletedoc.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5REGLDOC{ background-image:  url(../img/regl.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5NOREGL{ background-image:  url(../img/noregl.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5CONFIRMREGL{ background-image:  url(../img/confirmregl.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5CATALOG{ background-image:  url(../img/catalog.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5QUOTATION{ background-image:  url(../img/quotation.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5PROVIDER{ background-image:  url(../img/provider.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5CUSTOMER{ background-image:  url(../img/customer.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5ORDER{ background-image:  url(../img/order.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5SPACE{ background-image:  url(../img/space.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5THEME{ background-image:  url(../img/theme.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5PRODUCT{ background-image:  url(../img/product.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5CUSTOMIZE_EDIT{ background-image:  url(../img/customize.png);background-repeat:no-repeat;background-position:center left;}
.link_idesktop5PDF_EDIT{ background-image:  url(../img/pdf.png);background-repeat:no-repeat;background-position:center left;}

.link_idesktop6c { position:relative;width:100%;height:20px;font-weight:bold;margin-top:0px;font-family:Exo;padding:3px 5px 4px 5px;line-height:20px;font-size:10px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer;background-image:  url(../img/link_idesktop6c.png);background-repeat:no-repeat;background-position:cente left; }
/*A.link_idesktop6c:hover {cursor:pointer;color:#ffffff;}*/

.link_idesktop6d { position:relative;width:100%;height:20px;font-weight:bold;margin-top:0px;font-family:Exo;padding:3px 5px 4px 5px;line-height:20px;font-size:10px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer;background-image:  url(../img/link_idesktop6d.png);background-repeat:no-repeat;background-position:cente left;  }
/*A.link_idesktop6d:hover {cursor:pointer;color:#ffffff; background-color:#ab2a2d;}*/

A.link_idesktop6e { position:relative;width:100%;height:20px;font-weight:bold;margin-top:0px;font-family:Exo;padding:3px 5px 4px 5px;line-height:20px;font-size:10px;color:#1e617d;text-decoration:none;float:left;margin-left:5px;cursor:pointer;background:#e9eaed; }
A.link_idesktop6e:hover {cursor:pointer; background-color:#c9d6dc;}

A.link_desktop5L { margin-top:3px;height:18px;font-family:Exo;text-align:center;padding:2px 21px 2px 1px;line-height:20px;font-size:11px;font-weight:bold;color:#1e617d;text-decoration:none;float:left;margin-left:60px;cursor:pointer;border-width:1px; border-style:solid; border-color:#beceda;background-color:#ffffff;border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; box-shadow: 0 1px 1px rgba(34,25,25,0.3); -moz-box-shadow: 0 1px 1px rgba(34,25,25,0.3); -webkit-box-shadow: 0 1px 1px rgba(34,25,25,0.3); }
A.link_desktop5L:hover {cursor:pointer;background-color:#eef3f8;}

.link_desktop5P { background-image:  url(../img/plusP.png);background-repeat:no-repeat;background-position:center right; margin-top:3px;height:18px;font-family:Exo;text-align:right;padding:2px 21px 2px 0px;line-height:20px;font-size:11px;font-weight:bold;color:#1e617d;text-decoration:none;float:right;margin-right:2px;cursor:pointer;border-width:1px; border-style:solid; border-color:#beceda;background-color:#ffffff;border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; box-shadow: 0 1px 1px rgba(34,25,25,0.3); -moz-box-shadow: 0 1px 1px rgba(34,25,25,0.3); -webkit-box-shadow: 0 1px 1px rgba(34,25,25,0.3); }
.link_desktop5P:hover {cursor:pointer;background-color:#eef3f8;}

A.link_desktop5DEL { background-image:  url(../img/plusD.png);background-repeat:no-repeat;background-position:center right; margin-top:3px;height:18px;font-family:Exo;text-align:right;padding:2px 21px 2px 0px;line-height:20px;font-size:11px;font-weight:bold;color:#1e617d;text-decoration:none;float:right;margin-right:2px;cursor:pointer;border-width:1px; border-style:solid; border-color:#beceda;background-color:#ffffff;border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; box-shadow: 0 1px 1px rgba(34,25,25,0.3); -moz-box-shadow: 0 1px 1px rgba(34,25,25,0.3); -webkit-box-shadow: 0 1px 1px rgba(34,25,25,0.3); }
A.link_desktop5DEL:hover {cursor:pointer;background-color:#eef3f8;}



A.link_desktop5 { margin-top:3px;height:18px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:20px;font-size:11px;font-weight:bold;color:#1e617d;text-decoration:none;float:right;margin-right:2px;cursor:pointer;border-width:1px; border-style:solid; border-color:#beceda;background-color:#ffffff;border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; box-shadow: 0 1px 1px rgba(34,25,25,0.3); -moz-box-shadow: 0 1px 1px rgba(34,25,25,0.3); -webkit-box-shadow: 0 1px 1px rgba(34,25,25,0.3); }
A.link_desktop5:hover {cursor:pointer;background-color:#eef3f8;}

A.link_desktop5b { margin-top:3px;height:15px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:15px;font-size:11px;color:#1e617d;text-decoration:none;float:left;margin-left:2px;cursor:pointer;border-width:1px; border-style:solid; border-color:#beceda;background-color:#eef3f8;border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; box-shadow: 0 1px 1px rgba(34,25,25,0.3); -moz-box-shadow: 0 1px 1px rgba(34,25,25,0.3); -webkit-box-shadow: 0 1px 1px rgba(34,25,25,0.3); }
A.link_desktop5b:hover {cursor:pointer;background-color:#eef3f8;}

A.link_desktop5c {float:left;width:260px;margin-left:90px;margin-top:2px;height:18px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:20px;font-size:11px;font-weight:bold;color:#1e617d;text-decoration:none;cursor:pointer;border-width:1px; border-style:solid; border-color:#beceda;background-color:#ffffff;border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; box-shadow: 0 1px 1px rgba(34,25,25,0.3); -moz-box-shadow: 0 1px 1px rgba(34,25,25,0.3); -webkit-box-shadow: 0 1px 1px rgba(34,25,25,0.3); }
A.link_desktop5c:hover {cursor:pointer;background-color:#eef3f8;}

A.smenudoctradeRESULT { margin-top:3px;height:15px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:15px;font-size:10px;color:#014498;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#bad5d5;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.smenudoctradeRESULT:hover {cursor:pointer;color:#014498; background-color:#86aeae;text-decoration:underline;}

A.smenudoctrade { margin-top:3px;height:20px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:20px;font-size:12px;color:#014498;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#bad5d5;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.smenudoctrade:hover {cursor:pointer;color:#014498; background-color:#86aeae;text-decoration:underline;}

A.link_desktop6 { margin-top:3px;height:20px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:20px;font-size:12px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#3A3A3A;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.link_desktop6:hover {cursor:pointer;color:#ffffff; background-color:#444444;}

A.link_desktop6b { margin-top:3px;height:20px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:20px;font-size:12px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#1e617d;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.link_desktop6b:hover {cursor:pointer;color:#ffffff; background-color:#2a718e;}

A.link_desktop6c { margin-top:3px;height:20px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:20px;font-size:12px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#5f962e;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.link_desktop6c:hover {cursor:pointer;color:#ffffff; background-color:#6fa043;}

A.link_desktop6d { margin-top:3px;height:20px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:20px;font-size:12px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#88090c;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.link_desktop6d:hover {cursor:pointer;color:#ffffff; background-color:#ab2a2d;}

A.link_desktop6e { margin-top:3px;height:16px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:18px;font-size:10px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#3A3A3A;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.link_desktop6e:hover {cursor:pointer;color:#ffffff; background-color:#444444;}

A.link_desktop6f { margin-top:0px;height:6px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:10px;font-size:10px;color:#ffffff;font-weight:bold;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#1e617d;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.link_desktop6f:hover {cursor:pointer;color:#ffffff; background-color:#2a718e;}

A.link_desktop6hidden { margin-top:0px;height:6px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:10px;font-size:10px;color:#313131;text-decoration:none;float:left;margin-left:5px;cursor:pointer;}
A.link_desktop6hidden:hover {cursor:pointer;color:#313131;}

A.link_desktop6h { margin-top:3px;height:20px;font-family:Exo;font-weight:bold;text-align:center;padding:3px 5px 4px 5px;line-height:20px;font-size:12px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;border-width:1px;border-style:solid; border-top-color:#555;border-left-color:#555;border-right-color:#555;border-bottom-style:none;background:#4f4f4f; }
A.link_desktop6h:hover {color:#ffffff; background-color:#4f4f4f;}

A.link_desktop6i { margin-top:5px;height:15px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:20px;font-size:12px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer; border-width:1px;border-style:solid; border-top-color:#555;border-left-color:#555;border-right-color:#555;border-bottom-style:none;background:#5e5e5e;}
A.link_desktop6i:hover {cursor:pointer;color:#ffffff; background-color:#4f4f4f;}

A.link_desktop7 { margin-top:12px;height:25px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:25px;font-size:13px;font-weight:bold;color:#1e617d;text-decoration:none;float:right;margin-right:2px;cursor:pointer;border-width:1px; border-style:solid; border-color:#beceda;background-color:#ffffff;border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; box-shadow: 0 1px 1px rgba(34,25,25,0.3); -moz-box-shadow: 0 1px 1px rgba(34,25,25,0.3); -webkit-box-shadow: 0 1px 1px rgba(34,25,25,0.3); }
A.link_desktop7:hover {cursor:pointer;background-color:#eef3f8;}

A.link_desktop8 { margin-top:10px;height:18px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:18px;font-size:12px;color:#ffffff;text-decoration:none;float:right;margin-right:10px;cursor:pointer;border-width:1px; background-color:#313131;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3);opacity : 0.75; filter : alpha(opacity=75); }
A.link_desktop8:hover {cursor:pointer;color:#ffffff; background-color:#444444;}

A.link_desktop9 { margin-top:10px;height:18px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:18px;font-size:12px;color:#ffffff;text-decoration:none;float:left;margin-left:10px;cursor:pointer;border-width:1px; background-color:#313131;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3);opacity : 0.75; filter : alpha(opacity=75); }
A.link_desktop9:hover {cursor:pointer;color:#ffffff; background-color:#444444;}

A.link_desktop10 { margin-top:5px;height:18px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:18px;font-size:10px;color:#313131;text-decoration:none;float:left;margin-left:7px;cursor:pointer;border-width:1px;border-style:solid; background-color:#FFFFFF;border-color:#beceda;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.link_desktop10:hover {cursor:pointer; background-color:#ACBDD0;}



.link_desktopD { position:absolute;margin-top:2px;height:34px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:33px;font-size:12px;font-weight:bold;color:#b6cbcc;text-decoration:none;float:left;margin-left:625px;cursor:pointer;}
.link_desktopD:hover {cursor:pointer;background-color:#276b88;color:#ffffff;}


A.link_desktop11 { margin-top:12px;height:22px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:22px;font-size:17px;color:#ffffff;text-decoration:none;float:left;margin-left:3px;cursor:pointer;border-width:1px; background-color:#727272; }
A.link_desktop11:hover {cursor:pointer;color:#1e617d; }

A.link_desktop12 { margin-top:14px;height:18px;font-family:Exo;text-align:center;padding:2px 5px 2px 1px;line-height:18px;font-size:12px;color:#ffffff;text-decoration:none;float:right;margin-right:3px;cursor:pointer;border-width:1px; background-color:#444444;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3);opacity : 0.75; filter : alpha(opacity=75); }
A.link_desktop12:hover {cursor:pointer;color:#ffffff; background-color:#313131;}

A.link_desktop13 { margin-top:3px;height:25px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:25px;font-size:14px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#1e617d;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.link_desktop13:hover {cursor:pointer;color:#ffffff; background-color:#2a718e;}

A.link_desktop13b { margin-top:3px;height:25px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:25px;font-size:14px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#5f962e;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.link_desktop13b:hover {cursor:pointer;color:#ffffff; background-color:#6fa043;}

A.link_desktop14 { margin-top:3px;height:20px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:20px;font-size:12px;color:#cfcfcf;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#000000;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3);opacity : 0.75; filter : alpha(opacity=75); }
A.link_desktop14:hover {cursor:pointer;color:#ffffff; background-color:#444444;}

A.link_desktop15 { margin-top:3px;height:20px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:20px;font-size:12px;color:#27628f;font-weight:bold;text-decoration:none;float:left;margin-left:5px;border-bottom:1px solid #555;background:#9fbacf;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }

A.link_desktoplittle { margin-top:3px;height:20px;font-family:Exo;text-align:center;padding:3px 5px 4px 5px;line-height:25px;font-size:12px;color:#ffffff;text-decoration:none;float:left;margin-left:5px;cursor:pointer;border-bottom:1px solid #555;background:#1e617d;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 2px 2px rgba(34,25,25,0.3); -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.3); -webkit-box-shadow: 0 2px 2px rgba(34,25,25,0.3); }
A.link_desktoplittle:hover {cursor:pointer;color:#ffffff; background-color:#2a718e;}


.link_flx {padding:2px 5px 10px 1px;float:left;margin-left:2px; }  
    
    
    


