
.bar_winformGREY{
   position:relative;height:25px;left:0px;width:100%;text-indent:10px;line-height:25px;background-image:url(../img/winformGREY/bar_fiche_middle.png);color:#FFFFFF;font-family:arial;font-size:18px;
}

.parent_winformGREY{
   background-color:#ffffff;border:1px solid;border-bottom-color:#B9BABD;border-top-color:#B9BABD;border-left-color:#B9BABD;border-right-color:#B9BABD;
}

.ButCLOSE_winformGREY{
   position: absolute;right:10px;margin-right:10px;top:0px;margin-top:0px;background-image:url(../img/winformGREY/bar_fiche_CLOSE.png);width:12px;height: 25px;
}

.ButMIN_winformGREY{
   position: absolute;right:20px;margin-right:20px;top:0px;margin-top:0px;background-image:url(../img/winformGREY/bar_fiche_MIN2.png);width:12px;height: 25px;
}

.ButRESTORE_winformGREY{
   position: absolute;right:20px;margin-right:20px;top:0px;margin-top:0px;background-image:url(../img/winformGREY/bar_fiche_RESTORE2.png);width:12px;height: 25px;
}

.c1_winformGREY{
    width:100%;display:block;left:0px;margin-left:0px;right:0px;margin-right:0px;
}



.bar_winformBLACK{
   position:relative;height:25px;left:0px;width:100%;text-indent:10px;line-height:25px;background-image:url(../img/winformBLACK/bar_fiche_middle2.png);color:#FFFFFF;font-family:arial;font-size:18px;
}

.parent_winformBLACK{
   background-color:#ffffff;border:1px solid;border-bottom-color:#000000;border-top-color:#000000;border-left-color:#000000;border-right-color:#000000;
}

.ButCLOSE_winformBLACK{
   position: absolute;right:10px;margin-right:10px;top:0px;margin-top:0px;background-image:url(../img/winformBLACK/bar_fiche_CLOSE.png);width:29px;height: 25px;
}

.ButMIN_winformBLACK{
   position: absolute;right:20px;margin-right:20px;top:0px;margin-top:0px;background-image:url(../img/winformBLACK/bar_fiche_MIN2.png);width:29px;height: 25px;
}

.ButRESTORE_winformBLACK{
   position: absolute;right:20px;margin-right:20px;top:0px;margin-top:0px;background-image:url(../img/winformBLACK/bar_fiche_RESTORE2.png);width:29px;height: 25px;
}



.c1_winformBLACK2D{
    width:100%;display:block;left:0px;margin-left:0px;right:0px;margin-right:0px;
}


.bar_winformBLACK2D{
   position:relative;height:25px;left:0px;width:100%;text-indent:10px;line-height:25px;background-image:url(../img/winformBLACK2D/bar_fiche_middle2.png);color:#FFFFFF;font-family:arial;font-size:18px;
}

.parent_winformBLACK2D{
   background-color:#ffffff;border:9px solid;border-bottom-color:#878680;border-top-color:#878680;border-left-color:#878680;border-right-color:#878680;
}

.ButCLOSE_winformBLACK2D{
   position: absolute;right:10px;margin-right:10px;top:0px;margin-top:0px;background-image:url(../img/winformBLACK2D/bar_fiche_CLOSE.png);width:29px;height: 25px;
}

.ButMIN_winformBLACK2D{
   position: absolute;right:20px;margin-right:20px;top:0px;margin-top:0px;background-image:url(../img/winformBLACK2D/bar_fiche_MIN2.png);width:29px;height: 25px;
}

.ButRESTORE_winformBLACK2D{
   position: absolute;right:20px;margin-right:20px;top:0px;margin-top:0px;background-image:url(../img/winformBLACK2D/bar_fiche_RESTORE2.png);width:29px;height: 25px;
}

.c1_winformBLACK2D{
    width:100%;display:block;left:0px;margin-left:0px;right:0px;margin-right:0px;
}