@font-face {
font-family: 'Roboto';
src: url('./../_FONT/roboto_regular_french/Roboto-Regular-webfont.eot');
src: url('./../_FONT/roboto_regular_french/Roboto-Regular-webfont.eot?#iefix') 
   format('embedded-opentype'),
url('./../_FONT/roboto_regular_french/Roboto-Regular-webfont.woff')format('woff'),
url('./../_FONT/roboto_regular_french/Roboto-Regular-webfont.ttf')format('truetype'),
url('./../_FONT/roboto_regular_french/Roboto-Regular-webfont.svg#RobotoRegular')  format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Roboto';
src: url('./../_FONT/roboto_italic_french/Roboto-Italic-webfont.eot');
src: url('./../_FONT/roboto_italic_french/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
url('./../_FONT/roboto_italic_french/Roboto-Italic-webfont.woff') format('woff'),
url('./../_FONT/roboto_italic_french/Roboto-Italic-webfont.ttf') format('truetype'),
url('./../_FONT/roboto_italic_french/Roboto-Italic-webfont.svg#RobotoItalic')  format('svg');
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'Roboto';
src: url('./../_FONT/roboto_bold_french/Roboto-Bold-webfont.eot');
src: url('./../_FONT/roboto_bold_french/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
url('./../_FONT/roboto_bold_french/Roboto-Bold-webfont.woff') format('woff'),
url('./../_FONT/roboto_bold_french/Roboto-Bold-webfont.ttf') format('truetype'),
url('./../_FONT/roboto_bold_french/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'Roboto';
src: url('./../_FONT/roboto_bolditalic_french/Roboto-BoldItalic-webfont.eot');
src: url('./../_FONT/roboto_bolditalic_french/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
url('./../_FONT/roboto_bolditalic_french/Roboto-BoldItalic-webfont.woff') format('woff'),
url('./../_FONT/roboto_bolditalic_french/Roboto-BoldItalic-webfont.ttf')format('truetype'),
url('./../_FONT/roboto_bolditalic_french/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
font-weight: bold;
font-style: italic;
}

@font-face {
font-family: 'Roboto';
src: url('./../_FONT/roboto_thin_french/Roboto-Thin-webfont.eot');
src: url('./../_FONT/roboto_thin_french/Roboto-Thin-webfont.eot?#iefix')format('embedded-opentype'),
url('./../_FONT/roboto_thin_french/Roboto-Thin-webfont.woff')format('woff'),
url('./../_FONT/roboto_thin_french/Roboto-Thin-webfont.ttf') format('truetype'),
url('./../_FONT/roboto_thin_french/Roboto-Thin-webfont.svg#RobotoThin')  format('svg');
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: 'Roboto';
src: url('./../_FONT/roboto_thinitalic_french/Roboto-ThinItalic-webfont.eot');
src: url('./../_FONT/roboto_thinitalic_french/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
url('./../_FONT/roboto_thinitalic_french/Roboto-ThinItalic-webfont.woff') format('woff'),
url('./../_FONT/roboto_thinitalic_french/Roboto-ThinItalic-webfont.ttf') format('truetype'),
url('./../_FONT/roboto_thinitalic_french/Roboto-ThinItalic-webfont.svg#RobotoThinItalic')  format('svg');
font-weight: 200;
font-style: italic;
}

@font-face {
font-family: 'Roboto';
src: url('./../_FONT/roboto_light_french/Roboto-Light-webfont.eot');
src: url('./../_FONT/roboto_light_french/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
url('./../_FONT/roboto_light_french/Roboto-Light-webfont.woff') format('woff'),
url('./../_FONT/roboto_light_french/Roboto-Light-webfont.ttf') format('truetype'),
url('./../_FONT/roboto_light_french/Roboto-Light-webfont.svg#RobotoLight')  format('svg');
font-weight: 100;
font-style: normal;
}

@font-face {
font-family: 'Roboto';
src: url('./../_FONT/roboto_lightitalic_french/Roboto-LightItalic-webfont.eot');
src: url('./../_FONT/roboto_lightitalic_french/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
url('./../_FONT/roboto_lightitalic_french/Roboto-LightItalic-webfont.woff')  format('woff'),
url('./../_FONT/roboto_lightitalic_french/Roboto-LightItalic-webfont.ttf')format('truetype'),
url('./../_FONT/roboto_lightitalic_french/Roboto-LightItalic-webfont.svg#RobotoLightItalic')  format('svg');
font-weight: 100;
font-style: italic;
}

@font-face {
font-family: 'Roboto';
src: url('./../_FONT/roboto_medium_french/Roboto-Medium-webfont.eot');
src: url('./../_FONT/roboto_medium_french/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
url('./../_FONT/roboto_medium_french/Roboto-Medium-webfont.woff')  format('woff'),
url('./../_FONT/roboto_medium_french/Roboto-Medium-webfont.ttf') format('truetype'),
url('./../_FONT/roboto_medium_french/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: 'Roboto';
src: url('./../_FONT/roboto_mediumitalic_french/Roboto-MediumItalic-webfont.eot');
src: url('./../_FONT/roboto_mediumitalic_french/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
url('./../_FONT/roboto_mediumitalic_french/Roboto-MediumItalic-webfont.woff')  format('woff'),
url('./../_FONT/roboto_mediumitalic_french/Roboto-MediumItalic-webfont.ttf') format('truetype'),
url('./../_FONT/roboto_mediumitalic_french/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
font-weight: 300;
font-style: italic;
}